{% extends 'plantilla.html' %}
    {% block body%}

    <h2 class="mb-5">Consulta de album</h2>
    <a href="/">Regresar al formulario</a>
     {% with mensajes = get_flashed_messages() %}
        {% if mensajes %}
            {% for msj in mensajes %}
                <h4>{{ msj }}</h4>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    <table class="table">
        <thead>
            <tr>
                <td scope="col">Id:</td>
                <td scope="col">Titulo:</td>
                <td scope="col">Artista:</td>
                <td scope="col">Año de publicación:</td>
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <td><p class="text-dark">{{album.0}}</p></td>
                
                <td><p class="text-dark">{{album.1}}</p></td>
                <td><p class="text-dark">{{album.2}}</p></td>
                <td><p class="text-dark">{{album.3}}</p></td>
                <td><p><a class="link-underline-success" href="/editarAlbum/{{album.0}}">Editar</a></p></td>
                <td><p><a class="link-underline-danger" href="/eliminarAlbum/{{album.0}}">Eliminar</a></p></td>
            </tr>
            
        </tbody>
    </table>

    {% endblock %}