{% extends 'plantilla.html' %}
    {% block body%}
    <h2>Eliminar álbum</h2>

    {% with mensajes = get_flashed_messages() %}
        {% if mensajes %}
            {% for msj in mensajes %}
                <h4 style="color: green">{{ msj }}</h4>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% if errores and errores.idError %}
        <p style="color:red">{{ errores.idError }}</p>
    {% endif %}
    {% if errores and errores.eliminarError %}
        <p style="color:red">{{ errores.eliminarError }}</p>
    {% endif %}
    {% if errores and errores.nombreError %}
        <p style="color:red">{{ errores.nombreError }}</p>
    {% endif %}

    {% if nombreAlbum %}
        <h3 class="mt-5">¿Seguro que desea eliminar el álbum <strong>"{{ nombreAlbum[1] }}"</strong> del artista <strong>{{ nombreAlbum[2] }}</strong>?</h3>

        <form class="mt-5 mb-3" action="{{ url_for('albums.eliminarAlbum', idAlbum=nombreAlbum[0]) }}" method="POST">
            <input class="form-control" type="hidden" name="idAlbum" value="{{ nombreAlbum[0] }}">
            <button class="btn btn-danger" type="submit">Eliminar</button>
            <a href="/"><button class="btn btn-primary" type="button">Regresar</button></a>
        </form>
    {% else %}
        <p style="color:red">No se encontró el álbum.</p>
        <a href="/"><button type="button">Volver al inicio</button></a>
    {% endif %}
    
    {% endblock %}